#--- tweet-by-wiki settings ---
#Tue Nov 06 20:39:35 JST 2018
basicAuthList-0-http\://aaa.bbb.ccc.ddd.eee.jp/security-bot-manager/index.php=aaabbbccc\:xxxxxx
basicAuth-http\://www.****.org/*****/g3/index.php=\:
basicAuthList-2-=\:
sendInterval=0
basicAuthList-5-=\:
basicAuthList-12-=\:
secondaryUrl=http\://www.****.org/****/****/index.php?a
basicAuthList-8-=\:
basicAuthList-15-=\:
basicAuth-http\://www.****.org/****/index.php=abababab\:xyzxyzxyz
basicAuthList-18-=\:
oauth.accessTokenSecret=1234abcdef
basicAuth-http\://www.aaaa.org/abababab/index.php=abababab\:xyzxyzxyz
basicAuth-http\://www.aaaa.org/bbbb-bbb/index.php=\:
basicAuth-http\://www.aaaa.ac.jp/bbb/index.php=ccc\:ddd
basicAuth-http\://192.168.22.250/xxxx-local/index.php=yyy\:xxxx
oauth.consumerSecret=12345678abcdef
oauth.accessToken=12345678abc
basicAuth-http\://www.xxxx.org/auto-****-1/index.php=\:
oauth.callbackUrl=http\://www.*****.org/
onlineCommandRefresh=false
basicAuthList-1-=\:
basicAuthList-4-=\:
basicAuth-=\:
secondaryURLList=http\://www.******.org/******/g-1/index.php?a
basicAuthList-11-=\:
basicAuthList-7-=\:
basicAuthList-14-=\:
basicAuth-http\://www.****.org/*****/g-1/index.php=\:
basicAuthList-17-=\:
oauth.consumerKey=12345678abcdef
execInterval=0
basicAuth-http\://www.xxxx.org/****/index.php=\:
status=available
maxCommandsStr=2000
returnInterval=10-sec
deviceID=yamaRasPiDp1_1
basicAuth-http\://www.xxxx.ac.jp/*****/index.php=yyyy\:xxxx
basicAuthList-0-=\:
basicAuthList-3-=\:
basicAuth-http\://aaa.bbb.ccc.ddd.jp/security-bot-manager/index.php=security-bot-manager\:xxxxx
basicAuthList-10-=\:
basicAuthList-6-=\:
basicAuth-http\://www.xxxx.org/***/index.php=\:
basicAuthList-13-=\:
basicAuthList-9-=\:
basicAuthList-16-=\:
basicAuth-http\://www.****.org/*****/****/index.php=\:
basicAuthList-19-=\:
readInterval=300000
basicAuth-http\://www.****.org/****/index.php=\:
basicAuth-http\://www.aaaaa.org/bbbbb/index.php=\:
basicAuth-http\://192.168.1.2/cdcdcd/index.php=efefefef\:ghghghgh
managerUrl=http\://www.****.org/*****/****/index.php?a
basicAuth-http\://www.xxxx.org/yy-7/index.php=zzzz\:ssss
