[Unit]
Description=teleport dresser service

[Service]
ExecStart=/bin/sh start_teleport_dresser_ex1.sh
WorkingDirectory=/home/pi/workspace/FukuyamaWB4PiPy
Type=once
RemainAfterExit=yes
StandardOutput=inherit
StandardError=inherit
User=pi

[Install]
WantedBy=multi-user.target